button[data-md-color-primary=blue-grey] {
    background-color: #173542 ;
}

[data-md-color-primary=blue-grey] .md-typeset a {
    color: #173542 ;
}

[data-md-color-primary=blue-grey] .md-header {
    background-color: #173542 ;
}

[data-md-color-primary=blue-grey] .md-nav__link--active,
[data-md-color-primary=blue-grey] .md-nav__link:active {
    color: #173542 ;
}

[data-md-color-primary=orange] .md-nav__item--nested>.md-nav__link {
    color: inherit ;
}

/* Drawer color for different screen sizes*/

@media only screen and (max-width: 59.9375em) {
    [data-md-color-primary=blue-grey] .md-nav__source {
        background-color: rgba(23, 53, 66, .9675);
    }
}

@media only screen and (max-width: 76.1875em) {
    html [data-md-color-primary=blue-grey] .md-nav--primary .md-nav__title--site {
        background-color: #214f63;
    }
}

@media only screen and (min-width: 60em) {
    [data-md-color-primary=blue-grey] .md-nav--secondary {
        border-left: .4rem solid #214f63;
    }
}

@media only screen and (min-width: 76.25em) {
    [data-md-color-primary=blue-grey] .md-tabs {
        background: rgba(23, 53, 66, .9675);
    }
    [data-md-color-primary=blue-grey] .md-tabs[data-md-state=hidden] {
        background: #214f63;
    }
}

header img {
    position: absolute !important;
    height: 46px !important;
    width: 46px !important;
    top: -2% !important;
    left: -9px !important;
}


article a {
    color: #265eb7 !important;
}

a:hover {
    color: #26b75e !important;
}
